<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{fragments/head-includes :: head-includes(title='Nova')}">Header</head>
  <body>
    <div th:replace="~{fragments/header :: header}">Header</div>
    <main>
        <h3>olá.</h3>
    </main>
    <div th:replace="~{fragments/footer :: footer}">Footer</div>
    <p>@app.name@</p>

    <div class="container">
        <div class="content-header">
            <h1 th:text="#{greeting}">Welcome</h1>
            <p th:text="#{welcome.message}">Welcome message</p>
        </div>
    </div>
    <p>Build: <span th:text="${appBuildDate}"></span></p>

  </body>
</html>